<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">À propos de nous</h1>
  <p class="mb-4">GestiBanque backoffice</p>

      Pour Ajouter un à-propos clique ici <button class="btn btn-primary" (click)="addApropos()">Ajouter</button>
      <br/><br/>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Liste des à-propos</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>ID</th>
              <th>Téléphone</th>
              <th>Email</th>
              <th>Adresse</th>
              <th>Description</th>
              <th>LogoImage</th>
              <th>Mise à jour</th>
              <th>Supprimer</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>ID</th>
              <th>Téléphone</th>
              <th>Email</th>
              <th>Adresse</th>
              <th>Description</th>
              <th>Logo Image</th>
              <th>Mise à jour</th>
              <th>Supprimer</th>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let apropo of apropos">
              <td>{{apropo.id}}</td>
              <td>{{apropo.telephone}}</td>
              <td>{{apropo.email}}</td>
              <td>{{apropo.adresse}}</td>
              <td>{{apropo.description}}</td>
              <td>
                <img src="{{urlUpload}}/{{apropo.logoImage}}" width="20%"/>
                <a href="{{urlUpload}}/{{apropo.logoImage}}" target="_blank">Télécharger</a>
              </td>
              <td><a class="btn btn-warning" (click)="updateApropos(apropo)">Mise à jour</a></td>
              <td><a class="btn btn-danger" (click)="deleteApropos(apropo)">Supprimer</a></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->
