<div class="site-section cta-big-image" id="about-section">

  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-8 text-center">
        <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">À propos de nous</h2>
        <p class="lead" data-aos="fade-up" data-aos-delay="100">Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Minus minima neque tempora reiciendis.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
        <figure class="circle-bg">
          <!-- <img src="/assets/frontoffice/images/img_2.jpg" alt="About us picture" class="img-fluid"> -->
          <ng-container *ngIf="apropos && apropos.length > 0">
            <img [src]="urlUpload + '/' + apropos[0].logoImage" alt="About us picture" class="img-fluid">
          </ng-container>
        </figure>
      </div>
      <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">

        <h3 class="text-black mb-4">Téléphone : {{apropos[0].telephone}}</h3>
        <h3 class="text-black mb-4">Email : {{apropos[0].email}}</h3>
        <h3 class="text-black mb-4">Adresse : {{apropos[0].adresse}}</h3>
        <h3 class="text-black mb-4">Description : {{apropos[0].description}}</h3>

      </div>
    </div>

  </div>

</div>
